body {
    background-color: pink;
}

#second {
    box-shadow: 10px 10px 5px #888888;
    color: azure;
    font-size: xx-large;
    background-color: blue;
    display: block;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
    left: 75px;
    right: 500px;
    top: 150px;
    text-decoration: none;
}