h1, h2 {
    color: darkslateblue;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.unselected {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: cadetblue;
    width: 500px;
    padding: 20px;
    border: 3px darkblue solid;
    color: darkblue;
    list-style-type: none;
    font-size: 1.25em;
    text-align: center;
    border-radius: 25px;
}

.selected {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    background-color: deepskyblue;
    width: 500px;
    padding: 20px;
    border: 3px mediumblue solid;
    color: mediumblue;
    list-style-type: none;
    font-size: 1.25em;
    text-align: center;
    border-radius: 25px;
}