/*Want background to be black so colors will show up better.*/
/*Also change other text colors to white. Weed out anything that looks bad when printed
with console.log*/

#wordsonpage {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 400px;
    bottom: 0;
    right: 0;
}

body {
    overflow: hidden;
    background-color: black;
}

h1, p {
    color: white;
}