div#game_board{
    background: #70af00;;
    border:#663399 1px solid;
    width:800px;
    height:620px;
    padding:24px;
    margin:10px auto;
}
div#game_board > div{
    background-color: black;
    border:#000 1px solid;
    width:90px;
    height:110px;
    float:left;
    margin:10px;
    padding:10px;
    font-size:18px;
    cursor:pointer;
}

