h1 {
    color: tomato;
}

h2 {
    color: lightseagreen;
}

.outer {
    border: 2px sandybrown solid;
    background-color: seashell;
    border-radius: 20px;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
    padding: 20px;
}

.second {
    margin-top: 10px;
}

.third {
    margin-top: 10px;
}
