<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Job Postings R Us</title>
    <style>
    .entry_form {
        background-color: lightblue;
        border: 2px solid blue;
        width: 500px;
        margin: 20px;
        padding: 10px;
        border-radius: 25px;
    }
    .gray {
        background-color: gray;
    }
    .yellow {
        background-color: yellow;
    }
    </style>
</head>
<body>

<h2>So, you want to hire someone?</h2>

<div class="entry_form">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Come and get it!">
    </form>
</div>

<h2>Recently Posted Jobs</h2>

<table>
    {% for post in posts %}
        <tr class="{% cycle 'gray' 'yellow' %}">
            <td>{{ post.title }}</td>
        </tr>
    {% endfor %}
</table>

<a href="{% url 'logout' %}">Log Out</a>

</body>
</html>