{% extends 'main.html' %}

{% block header %}

{% if registered %}
        Thank you for registering!
        <a href="{% url 'homepage' %}">Return to the homepage.</a><br />
        {% else %}
        Register here<br />

        <form id="user_form" method="post"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
{% endblock %}