@import url(http://fonts.googleapis.com/css?family=Handlee);
@import url(http://fonts.googleapis.com/css?family=Montez);

body {
    background-image: url("white-wood-background.jpg");
    background-size: 100%;
}

h1 {
    margin-top: 50px;
    font-size: 60px;
    font-family: 'Montez', cursive;
    text-align: center;
    color: #363636;
    font-weight: bold;
}

#textbox {
    margin-top: -50px;
    height: 40px;
    width: 230px;
    text-align: center;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Handlee', cursive;
}

#aisleSelect {
    height: 40px;
    width: 230px;
    background-color: transparent;
    font-size: 18px;
    font-family: 'Handlee', cursive;
    margin-top: 5px;
    color: #363636;
}

#addItem {
    background: transparent;
    border: 1px solid #cdcdcd;
    height: 40px;
    margin-top: -50px;
    font-size: 25px;
    color: #977173;
    font-family: 'Handlee', cursive;
    cursor: pointer;
}

li{
    margin-left: 42px;
    cursor: pointer;
    line-height: 1;
    transition: all 0.3s;
    list-style-type: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Handlee', cursive;
}

li.complete{
    opacity:0.3;
    transition: all 0.3s;

}

#controls{
    margin-top: 40px;
}

#controls p {
    text-align: center;
    color: #977173;
    font-size: 20px;
    font-family: 'Handlee', cursive;
}

#clearAllItems {
    background: transparent;
    border: 1px solid #cdcdcd;
    font-size: 30px;
    font-family: 'Montez', cursive;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
    text-shadow: 0px 1px 0px #151515;
    color: #363636;
}
#clearAllItems:hover {
     background: #977173;
     text-decoration:none;
 }

.accordion, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

    /*border-radius: 25px;*/
}

.accordion {
    overflow: hidden;
    border-radius: 3px;
    width: 960px;
    margin: 0 auto;
    margin-top: 10px;

}

.accordion-section {
    float: left;
    width: 480px;
    display: none;
}

.accordion-section-title {
    width: 100%;
    padding: 15px;
    display: inline-block;
    transition: all linear 0.15s;
    font-size: 35px;
    text-shadow: 0px 1px 0px #151515;
    color: #363636;
    text-align: center;
    font-family: 'Montez', cursive;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background: #977173;
    text-decoration:none;
}

.accordion-section-content {
    padding:15px;
    display:none;
}

a {
    text-decoration: none;
}