@import url(http://fonts.googleapis.com/css?family=Handlee);
@import url(http://fonts.googleapis.com/css?family=Montez);

body {
    background: url("Element_Lace2.png") left top no-repeat, url("white-wood-background.jpg");
    background-size: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    margin-top: 45px;
    font-size: 80px;
    font-family: 'Montez', cursive;
    text-align: center;
    color: #000000;
    font-weight: bold;
    text-shadow: 0px 1px 0px #717171;
}

#textbox {
    margin-top: 5px;
    height: 40px;
    width: 230px;
    text-align: center;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Handlee', cursive;
    text-shadow: 0px 1px 0px #444444;

}

#textbox::-webkit-input-placeholder {
    color: #343434;
    text-shadow: 0px 1px 0px #444444;
}

#aisleSelect {
    height: 40px;
    width: 230px;
    background-color: transparent;
    font-size: 18px;
    font-family: 'Handlee', cursive;
    margin-top: 15px;
    color: #151515;
    text-shadow: 0px 1px 0px #444444;
}

#addItem {
    background: transparent;
    border: 1px solid #cdcdcd;
    height: 40px;
    margin-top: -50px;
    font-size: 25px;
    text-shadow: 0px 1px 0px #717171;
    color: #363636;
    font-family: 'Montez', cursive;
    cursor: pointer;
}

#addItem:hover {
    background: #4471b3;
    text-decoration:none;
}

li{
    margin-left: 42px;
    cursor: pointer;
    line-height: 1.5;
    transition: all 0.3s;
    list-style-type: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Handlee', cursive;
    color: 151515;
}

li.complete{
    opacity:0.3;
    transition: all 0.3s;

}

#controls{
    margin-top: 40px;
}

#controls p {
    text-align: center;
    color: #444444;
    font-size: 20px;
    font-family: 'Handlee', cursive;
    text-shadow: 0px 1px 0px black;
}

#clearAllItems {
    background: transparent;
    border: 1px solid #cdcdcd;
    font-size: 30px;
    font-family: 'Montez', cursive;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
    text-shadow: 0px 1px 0px #717171;
    color: #151515;
}
#clearAllItems:hover {
     background: #4471b3;
     text-decoration:none;
 }

.accordion, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.accordion {
    overflow: hidden;
    border-radius: 3px;
    width: 960px;
    margin: 0 auto;
    margin-top: 10px;

}

.accordion-section {
    float: left;
    width: 480px;
    display: none;
}

.accordion-section-title {
    width: 100%;
    padding: 15px;
    display: inline-block;
    transition: all linear 0.15s;
    font-size: 35px;
    text-shadow: 0px 1px 0px #717171;
    color: #000000;
    text-align: center;
    font-family: 'Montez', cursive;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background: #4471b3;
    text-decoration:none;
    color: white;
}

.accordion-section-content {
    padding:15px;
    display:none;
}

a {
    text-decoration: none;
}

@media only screen and (max-width : 900px) {
    .accordion {
        width: auto;
        float: none;
        margin:auto;
        text-align:center;
    }
    .accordion-section {
        display: none;
        width: 330px;
        margin:auto;
        text-align:center;
        float: none;
    }

}