h1 {
    color: tomato;
}
h3 {
    color: tomato;
}

.outer {
    border: 2px sandybrown solid;
    background-color: seashell;
    border-radius: 20px;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
    padding: 20px;
}

.item {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}

.important {
    color: red;
}

.complete {
    text-decoration: line-through;
}

.done {
    margin-top: 5px;
}